body {
    background-size: cover;
}

.heading {
    width: 60%;
    margin: 1;
    height: 50px;
    font-family: 'Roboto Slab', serif;
    font-size: 22px;
}

.buttons {
    width: 20%;
    height: 500px;
    font-family: 'Roboto Slab', serif;
    box-shadow: darkcyan 2px 2px 2px;
    margin-left: 10px;
    font-size: 20px;
}

.footer {
    bottom: 0;
    text-align: center;
    background-color: white;
    height: 40px;
    font-family: 'Roboto Slab', serif;
    font-size: 16px;
    position: fixed;
    width: 100%;
    padding: 5px;
}